@font-face {
    font-family: 'Celtic';
    src: url('../fonts/CELTG___.TTF');
}

header {
    background-image: url('../img/wood.jpg');
}

.logo {
    max-width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
}

h2 {
    font-family: 'Celtic', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1f391a;
    font-size: 1.5rem;
}

nav {
    background-color: #1f391a;
    color: white;
}

nav ul,
a {
    list-style-type: none;
    font-family: europa, sans-serif;
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 0;
    color: white;
    text-decoration: none;
}

nav ul li {
    padding-top: 3%;
    padding-bottom: 3%;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

p {
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

h3 {
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    color: #6f0e1a;
}

h4 {
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.1rem;
    color: #9daa9a;
}

button {
    width: 50%;
    background-color: #bcc5cb;
    border-radius: 5px;
    color: #1f391a;
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
}

button:hover {
    background-color: #9daa9a;
    box-shadow: 1px 1px 13px 4px rgba(102, 102, 102, 0.53);
}

.centerme {
    text-align: center;
}

.images {
    width: 100%;
    margin-bottom: 10%;
}

.white-background {
    background-color: white;
    padding: 10%;
    margin-top: 10px;
    margin-bottom: 10%;
}

.specialsimg {
    width: 20%;
    margin: auto;
}

#specials {
    margin-top: 10%;
    margin-bottom: 10%;
}

#events {
    margin-bottom: 10%;
}

footer {
    background-color: #1f391a;
    color: white;
    opacity: 0.9;
    padding: 5%;
}

footer img {
    width: 10%;
    display: inline;
}

.whitetext {
    color: white;
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
    font-family: europa, sans-serif;
    font-size: 1.15rem;
}

.menuitemheader {
    margin-bottom: -10px;
}

.menudescription {
    border-bottom: 2px solid #1f391a;
}

iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 10%;
}

.call {
    box-shadow: 0;
    margin-top: 5%;
    color: white;
}

@media all and (min-width: 500px) {

    nav ul li {
        display: inline-block;
        padding: 10px;
        font-size: 1.1rem;
    }

    .logo {
        width: 30%;
    }
}

@media all and (min-width: 768px) {

    nav {
        margin-top: -60px;
    }

    nav ul {
        text-align: right;
    }

    .logo {
        text-align: left;
        display: inline-block;
        width: 15%;
    }

    .images {
        max-width: 80%;
        margin-left: 10%;
    }

    .width80 {
        width: 60%;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 15%;
    }

    .socialmedia {
        width: 5%;
    }

    .contact {
        margin-top: 10%;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    iframe {
        width: 80%;
        margin-left: 10%;
    }

    .title {
        margin-top: 5%;
    }
}

@media all and (min-width: 1000px) {
    nav ul li {
        font-size: 1.2rem;
        padding: 15px;
    }

    nav {
        margin-top: -70px;
    }

    .maincontainer::after {
        content: " ";
        clear: both;
    }
}
