/* Tabs container */
.r-tabs {
    background-color: ##1f391a;
    border-top: 1px solid ##1f391a;
    border-right: 1px solid ##1f391a;
    border-left: 1px solid ##1f391a;
    border-bottom: 4px solid ##1f391a;
    border-radius: 4px;
    width: 90%;
    margin-left: 2.5%;
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    background-color: ##1f391a;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    padding: 2.5%;
    background-color: #1f391a;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-family: europa, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
    background-color: #1f391a;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: ##1f391a;
    text-shadow: none;
    background-color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
    background-color: white;
    border-bottom: 4px solid white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 95%;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 2.5%;
    background-color: #1f391a;
    color: #ffffff;
    font-weight: bold;
    font-family: europa, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 1.1rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #1f391a;
    color: white;
    text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}

/* Buttons */
button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    line-height: 100%;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    font-weight: bold;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: ##1f391a;
    box-shadow: 0 3px 0 0 #00ab94;
    cursor: pointer;
}

/* Info bar */
.info {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 300px;
    line-height: 100%;
    font-family: europa, sans-serif;
    font-size: 1rem;
    color: #00c5ad;
    border: 2px solid ##1f391a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #1f391a;
    cursor: pointer;
}
